<a href="https://colab.research.google.com/github/gaudhami4/task1/blob/main/Copy_of_billsysyem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install dnspython
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.0 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
module1:
1-->store all items along with price in a collection
module2:
1-->selection of user(it is a billing person or the store manager)
2-->if it is a billing person
   1-->take item inputs(user phone number(id),item and the quantity(kilograms))
   2-->the billing person should be able to take further inputs
   3-->after the purchase order is done bill should be generated with total value(store name,date and time,bill number)
   4-->the details should be stored in a new collection()
module3:
1-->the admin should have option to the summary
 1-->summay based on the amount-rupees(on that day based on items)-EOD
 2-->summary based on the  items quantity-EOD
 3-->summary or statement for a particular period(amount based or quantity based)-optional

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://gaudhamiratheesh4:1234@cluster0.78oa5.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [3]:
from datetime import datetime
import regex as re
import pandas as pd
import pymongo
import math
import numpy as np
client = pymongo.MongoClient("mongodb+srv://gaudhamiratheesh4:1234@cluster0.78oa5.mongodb.net/?retryWrites=true&w=majority")
db = client.market
records=db.bill

In [6]:
data=[{"_id":1,"product":"sugar","price":40},{"_id":2,"product":"milk","price":25},{"_id":3,"product":"rice","price":33}]
records.insert_many(data)

BulkWriteError: ignored

In [7]:
df=pd.DataFrame(data)
df

   _id product  price
0    1   sugar     40
1    2    milk     25
2    3    rice     33

In [8]:
from datetime import datetime
import regex as re
import pandas as pd
import pymongo
import math
import numpy as np
client = pymongo.MongoClient("mongodb+srv://gaudhamiratheesh4:1234@cluster0.78oa5.mongodb.net/?retryWrites=true&w=majority")
db = client.market
records=db.bill

In [10]:
#    *****************BILLING ****************SYSTEM************
#*********************MONGODB PROJECT**************
phone_number=int(input("enter your mobile number"))
#records.insert_one({"phonenumber":phone_number})
#name=input("enter the name")
def bill():
  a =True
  total_price =0
  list_item_price =[]
  while a:
      # print('''
          #  1.list of items
           # 2.choose item
            #3.exit
        #''')
       choice=input("1** LIST OF ITEMS\n 2** CHOOSE ITEM\n 3** EXIT")
       print(" SELECT ANY OPTION ABOVE ^|^")
       df=pd.DataFrame(data)
     
       if choice=="1":
          x=records.find({},{"_id":0,"product":1,"price":1})
          df=pd.DataFrame(x)
          display(df)
          if x==0:
             print("no products available")
          #else:
           #  display(df)
       elif choice == "2":
              q =True
              while q:

                print("**PRESS 'q' TO SEE THE MAIN MENU*****")
                item=input("enter a product")
#
        #if item in df.values:
               # x1=records.find({"product":item},{"product":item,"price":1,"_id":0})
                #df1=pd.DataFrame(x1)
                #qnt=input("enter a quantity")
                #if item in df.values:
               # x1=records.find({"product":item},{"product":item,"price":1,"_id":0})
               # df1=pd.DataFrame(x1)
                if item in df.values:
                   x1=records.find({"product":item},{"product":item,"price":1,"_id":0})
                   df2=pd.DataFrame(x1)
                   qnt=input("enter a quantity")
                  # if qnt.isdigit():
                   qnt=int(qnt)
                   y=df2._get_value(0,"price")
                   price=(y*qnt)
                   list_item_price.append((item,qnt,price))
                   total_price+=price
                  # else:
                       #print("valid quantity")
                elif item == 'q':
                        q=False

                else:
                        print('item not present.')
    
                    
      # elif item=='q':
          #q=False
       elif choice=="3":
          a=False
       else:
           print("enter valid input")
  return total_price,'Thank you, Please Visit again.',list_item_price  
total_price,msg,item_price=bill()
if total_price !=0:
    print('\n')
    print('''
                MARGIN FREE
            BTM,PALAKKAD,678571
    ''')
    print('Customer Name:',phone_number,'\t','Date:',datetime.now())
    print(20*'==')
    #print('\n')

    for j in item_price:
        print('Item:',j[0],'\tQuntity:',j[1],' Price:',j[2])

    gst = total_price * 0.1
    gst = math.ceil(gst)
    print(18*'==')
    print('GST: Rs.',float(gst))
    print('Total payble amount: Rs.',float(gst+total_price))
    print(18*'==')
    print('🙏🙏🙏 ',msg,' 🙏🙏🙏')
else:
    print("Hey, You weren't Brought anything...Please Buy something you want.")
    bill_cal()
#l = [('dal', 3, 69.0), ('dal', 3, 69.0)]
total_cash_paid=int(input("cash paid :"))
x=total_cash_paid-float(gst+total_price)
print("change  :", x)

enter your mobile number798
1** LIST OF ITEMS
 2** CHOOSE ITEM
 3** EXIT1
 SELECT ANY OPTION ABOVE ^|^

  product  price
0   sugar     40
1    milk     25
2    rice     33

1** LIST OF ITEMS
 2** CHOOSE ITEM
 3** EXIT2
 SELECT ANY OPTION ABOVE ^|^
**PRESS 'q' TO SEE THE MAIN MENU*****
enter a productsugar
enter a quantity5
**PRESS 'q' TO SEE THE MAIN MENU*****
enter a productrice
enter a quantity10
**PRESS 'q' TO SEE THE MAIN MENU*****
enter a productmilk
enter a quantity5
**PRESS 'q' TO SEE THE MAIN MENU*****
enter a productq
1** LIST OF ITEMS
 2** CHOOSE ITEM
 3** EXIT3
 SELECT ANY OPTION ABOVE ^|^



                MARGIN FREE
            BTM,PALAKKAD,678571

Customer Name: 798 	 Date: 2022-09-05 16:01:51.856255
========================================
Item: sugar 	Quntity: 5  Price: 200
Item: rice 	Quntity: 10  Price: 330
Item: milk 	Quntity: 5  Price: 125
====================================
GST: Rs. 66.0
Total payble amount: Rs. 721.0
====================================
🙏🙏🙏  Thank you, Please Visit again.  🙏🙏🙏
cash paid :1000
change  : 279.0

In [11]:
print("                   SALE RECIEPT                    ")
print(35*'--')
print('''
                     MARGIN FREE
                   BTM,PALAKKAD,678571
        ''')
print('Customer Name:',phone_number,'\t','Date:',datetime.now())
print(20*'==')
for j in item_price:
       
         print('Item:',j[0],'\tQuntity:',j[1],' Price:',j[2])
        
print(20*'==')
print("SUB TOTAL(+GST)                   ",float(gst+total_price))
print("                             ****************")
print("\n")
print("                               payment",total_cash_paid)
print("                               change ",x)

print("          THANKYOU AND VISIT AGAIN    ")

                   SALE RECIEPT
----------------------------------------------------------------------

                     MARGIN FREE
                   BTM,PALAKKAD,678571

Customer Name: 798 	 Date: 2022-09-05 16:02:03.719807
========================================
Item: sugar 	Quntity: 5  Price: 200
Item: rice 	Quntity: 10  Price: 330
Item: milk 	Quntity: 5  Price: 125
========================================
SUB TOTAL(+GST)                    721.0
                             ****************


                               payment 1000
                               change  279.0
          THANKYOU AND VISIT AGAIN